
.body{
	margin:auto 0;
}


#logo{
	width:26%;
	position: relative;
	display: inline-block;
	vertical-align: middle;
	letter-spacing: 0.06em;
	padding-left: 107px;
}

#header{
	width: 100%;
}

#menu{
	width:65%;
	position: relative;
	display: inline-block;
	vertical-align: middle;
	letter-spacing: 0.06em;
}

ul#menuitem li {
    list-style-type:none;
    font-size: 12px;
	font-weight: 699;
    line-height: 24px;
    padding: 10px;
    text-transform: uppercase;
    font-family: "Montserrat", sans-serif;
    position: relative;
	display: inline-block;
	vertical-align: middle;
	letter-spacing: 0.06em;
}

	a.menu:link    {color:#212121; background-color:transparent; text-decoration:none}
	a.menu:visited {color:#212121; background-color:transparent; text-decoration:none}
	a.menu:hover   {color:#212121; background-color:transparent; text-decoration:none; color: #337ab7;}
	a.menu:focus  {color:#337ab7; text-decoration:none;color: #337ab7; background-color:transparent;}
	a.menu:active {color:#337ab7; text-decoration:none;color: #337ab7; background-color:transparent;}

#img {
    display: block;
    margin: auto;
    width: 50%;
    align-items: center;
    height: 45px;
    width: 149px;
}

#center {
    left: 50%;
    transform: translate(-45%, -42%);
    font-size: 28px;
    text-align: center;
    margin: auto;
}

#h1{
	line-height: 1.18421;
	font-size: 42px;
	font-family: "Montserrat",sans-serif;
	font-weight: 500;
	color: white;
	text-align: left;
	margin-top:-360px;
	margin-left: 995px;
	margin-right: -311px;
}

#h2{
	line-height: 1.18421;
	font-size: 18px;
	font-family: "Montserrat",sans-serif;
	font-weight: 200;
	color: white;
	margin-top: -45px;
	margin-left:604px;
	width: 100%;
}

.btn {
	border: 1px solid white;
    font-family: "Montserrat",sans-serif;
    font-size: 13px;
    color: inherit;
    background: none;
    cursor: pointer;
    padding: 13px;
    display: inline-block;
    margin: 15px 30px;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 400;
    outline: none;
    position: relative;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
    margin-right: -101px;
    margin-top: 33px;
    margin-left: 896px;
}

.btn:after {
	content: '';
	position: absolute;
	z-index: -1;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	transition: all 0.3s;
}

.btn-1 {
	border: 3px solid #fff;
	color: #fff;
}

.btn-1e {
	overflow: hidden;
}

.btn-1e:after {
	width: 100%;
	height: 0;
	top: 50%;
	left: 50%;
	background: #b8bfc0;
	opacity: 0;
	-webkit-transform: translateX(-50%) translateY(-50%) rotate(45deg);
	-moz-transform: translateX(-50%) translateY(-50%) rotate(45deg);
	-ms-transform: translateX(-50%) translateY(-50%) rotate(45deg);
	transform: translateX(-50%) translateY(-50%) rotate(45deg);
}

.btn-1e:hover,
.btn-1e:active {
	color: #129fb4;
	font-weight:400px;
}

.btn-1e:hover:after {
	height: 260%;
	opacity: 1;
}

.btn-1e:active:after {
	height: 400%;
	opacity: 1;
}

.button2{
	background-color: #45c9fa;
    border: 1px solid #45c9fa;
    cursor:pointer;
    overflow: hidden;
    color: white;
    padding:16px;
    font-weight: 400;
	margin-left: 118px;
	margin-top: 33px;
	margin-right: 0px;
}

#div3{
	width:93%;
	margin-top: 119px;
	margin-right: 15px;
	margin-left: 30px;
	display: inline-block;

}

#h3{
	margin-top: 4%;
	text-align: center;
	text-transform: uppercase;
	width:36%;
	line-height: 1.18421;
	font-size: 25px;
	font-family: "Montserrat",sans-serif;
	font-weight: 200;
	color: #212121;
	text-align: center;
	margin-left: 400px;
	}

#p1{
	line-height: 1.18421;
	font-size: 18px;
	font-family: "tunga";
	font-weight: 200;
	color: #a3a3a3;
	text-align: center;
	width: 60%;
	text-align: justify;
	color: #212121;
	margin-left: 250px;
	text-transform:none;

}

#div4{
	width: 27%;
	position: relative;
	display: inline-block;
	vertical-align: middle;
	margin-top: 15px;
	margin-right: 15px;
	padding: 0px;
	margin-left: 50px;
}

#h4{
	line-height: 1.18421;
	font-size: 10px;
	line-height: 1.5;
	font-family: "Montserrat",sans-serif;
	font-weight: 100;
	color: #474a4a;
	text-align: center;
	margin-top: 560px;
	text-transform: uppercase;
}

#h4-1{
	font-size: 14px;
	font-family: "Montserrat",sans-serif;;
	font-weight: 90;
	color: black;
	padding: 1px;
	margin-left: 43px;
	margin-top: 7px;
	font-family: "tunga";
	text-transform: uppercase;
	text-align: left;
}
#p2{
	font-size: 12px;
	font-family: "Montserrat",sans-serif;;
	font-weight: 90;
	color: black;
	padding: 1px;
	margin-left: 43px;
	margin-top: -22px;
	font-family: "tunga";
	text-transform: none;
	text-align: left;
}

#maindiv{
	width:93%;
	margin-top: -730px;
	margin-left: -7px;
}

#p3{
	line-height: 1.18421;
	font-size: 15px;
	font-family: "Montserrat",sans-serif;
	font-weight: 500;
	color: white;
	text-align: center;
	margin-top: 50px;
	margin-left: 100px;
	width: 85%;
}

#p4{
	line-height: 1.18421;
	font-size: 12px;
	font-family: "Montserrat",sans-serif;
	color: #0be6f5;
	text-align: center;
	/*margin-top: 80px;*/
	margin-left: 100px;
	text-transform: uppercase;
	width: 85%;
	margin-bottom: 50px;
}

#divmiddle{
	width: 96%;
	height:400px;
	margin-left: 24px;
	background-color: white;
	margin-right: 24px;
	
}

#h3-2{
	line-height: 1.18421;
	font-size: 25px;
	line-height: 1.5;
	font-family: "Montserrat",sans-serif;
	font-weight: 200;
	color: #474a4a;
	text-align: center;
	margin-top: 15px;
	text-transform: uppercase;
	margin: 0 20px;
	padding: 18px 20px;
}

#imgtag{
	padding-left: 2px;
	margin-top: 19px;
	margin-left: 145px;
	margin-bottom: 20px;
}

#div5{
	width: 17%;
	position: relative;
	display: inline-block;
	vertical-align: middle;
	margin-top: 1px;
	padding: 1px;
}

#div5one{
	width: 17%;
	position: relative;
	display: inline-block;
	vertical-align: middle;
	margin-top: 1px;
	margin-right: 15px;
	padding: 1px;
	margin-left: 21px;
}

#h5{
	font-size: 30px;
	color: white;
	line-height: 1.18421;
	font-family: "Montserrat",sans-serif;
	font-weight: 200;
	text-align: center;
	margin-top: 25px;
	margin-left: 265px;
	text-transform: uppercase;
	
}

#h6{
	font-size: 10px;
	font-family: "Montserrat",sans-serif;
	font-weight: 200;
	color: white;
	text-transform: uppercase;
	margin-top:-25px; 
	margin-left: 248px;
	width: 51%;
}

#h6-1{
	font-size: 10px;
	font-family: "Montserrat",sans-serif;
	font-weight: 200;
	color: white;
	text-align: center;
	text-transform: uppercase;
	margin-top:-25px; 
}

#h3-3{
	line-height: 1.18421;
	font-size: 25px;
	line-height: 1.5;
	font-family: "Montserrat",sans-serif;
	font-weight: 200;
	color: #474a4a;
	text-align: left;
	margin-top: 15px;
	text-transform: uppercase;
}

#p6{
	line-height: 1.18421;
	font-size: 10px;
	line-height: 1.5;
	font-family: "Montserrat",sans-serif;
	color: white;
	text-align: left;
	margin-top: -26px;
	text-transform: uppercase;
	width: 65%;
	margin-left: 121px;
}

#h6-1{
	font-size: 15px;
	font-family: "Montserrat",sans-serif;
	font-weight: 200;
	color:  #45c9f8;
	text-align: left;
	text-transform: uppercase;
	margin-top:55px;
	padding: 0px;
	margin-left: 154px; 
}

#div6{
	width:96.7%;
	position: relative;
	display: inline-block;
	vertical-align: middle;
	padding: 22px;
	margin-top: 1px;
	background-color: #3d4045;
}

#p2-2{
	font-size: 10px;
	font-family: "Montserrat",sans-serif;
	color: black;
	padding: 1px;
	margin-top: -40px;
	margin-left: 257px;
	margin-bottom: 20px;
}

#h6-2{
	font-size: 20px;
	font-family: "Montserrat",sans-serif;
	font-weight: 200;
	color:  #474a4a;
	text-align: center;
	text-transform: uppercase;
	margin-top:20px;
	padding: 10px;
	margin-left: -475px;
}

.form-style-8{
    font-family: 'Open Sans Condensed', arial, sans;
    width: 500px;
    padding: 30px;
    background: transparent;
    border:2px solid white;
    color: white;
    margin-top: 20px;
    margin-left: 400px;
    margin-bottom: 20px;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.22);
    -moz-box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.22);
    -webkit-box-shadow:  0px 0px 15px rgba(0, 0, 0, 0.22);

}
.form-style-8 h2{
    background: transparent;
    text-transform: uppercase;
    font-family: 'Open Sans Condensed', sans-serif;
    color: white;
    font-size: 18px;
    font-weight: 100;
    padding: 20px;
    margin: -30px -30px 30px -30px;
}
	.form-style-8 input[type="text"],
	.form-style-8 input[type="date"],
	.form-style-8 input[type="datetime"],
	.form-style-8 input[type="email"],
	.form-style-8 input[type="number"],
	.form-style-8 input[type="search"],
	.form-style-8 input[type="time"],
	.form-style-8 input[type="url"],
	.form-style-8 input[type="password"],
	.form-style-8 textarea,
	.form-style-8 select
{
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    outline: none;
    display: block;
    width: 100%;
    padding: 7px;
    border-bottom: 1px solid #ddd;
    background: transparent;
    margin-bottom: 10px;
    font: 16px Arial, Helvetica, sans-serif;
    height: 45px;
    color: #FFFFFF;
}
.form-style-8 textarea{
    resize:none;
    overflow: hidden;
}
.form-style-8 input[type="button"],
.form-style-8 input[type="submit"]{
    -moz-box-shadow: inset 0px 1px 0px 0px #FFFFFF;
    -webkit-box-shadow: inset 0px 1px 0px 0px #FFFFFF;
    box-shadow: inset 0px 1px 0px 0px #FFFFFF;
    background-color: #45c9fa;
    border: 1px solid #FFFFFF;
    display: inline-block;
    cursor: pointer;
    color: #FFFFFF;
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 14px;
    padding: 8px 18px;
    text-decoration: none;
    text-transform: uppercase;
    margin-left: 165px;
    margin-top: 20px;

}
.form-style-8 input[type="button"]:hover,
.form-style-8 input[type="submit"]:hover {
    background:linear-gradient(to bottom, #0086b2 5%, #0086b2 100%);
    background-color:transparent;
}

#backImg{
	background-image: url(../images/banner.png);
	background-repeat: no-repeat;
    background-attachment: fixed;
    width: 100%;
	height: 2200px;
	margin-bottom: -100px;
}


.button3 {
	width:108%;
    background-color: #3d4045;
    background-repeat:no-repeat;
    border: 1px solid #3d4045;
    color: white;
    padding:22px;
    font-weight: 400;
    text-transform: uppercase;
    margin-left: -30px;
    margin-top: -25px;
    font-family: "Montserrat",sans-serif;
    font-size: 15px;
    cursor: pointer;
    display: inline-block;
    letter-spacing: 1px;
    outline: none;
    position: relative;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
 }  

.button3:after {
	content: '';
	position: absolute;
	z-index: -1;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	transition: all 0.3s;
}

/* Pseudo elements for icons */
.btn:before,
.icon-heart:after,
.icon-star:after,
.icon-plus:after,
.icon-file:before {
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	position: relative;
	-webkit-font-smoothing: antialiased;
}


.icon-cart:before {
	content: "\e007";
}

.btn-5 {
	background: #3d4045;
	color: #fff;
	height: 70px;
	min-width: 260px;
	line-height: 24px;
	font-size: 16px;
	overflow: hidden;
	-webkit-backface-visibility: hidden;
	-moz-backface-visibility: hidden;
	backface-visibility: hidden;
	margin-left: -33px;
}
}

 Button 5 
.btn-5 {
	background: #823aa0;
	color: #fff;
	height: 70px;
	min-width: 260px;
	line-height: 24px;
	font-size: 16px;
	overflow: hidden;
	-webkit-backface-visibility: hidden;
	-moz-backface-visibility: hidden;
	backface-visibility: hidden;
}

.btn-5:active {
	background: #9053a9;
	top: 2px;
}

.btn-5 span {
	display: inline-block;
	width: 100%;
	height: 100%;
	-webkit-transition: all 0.3s;
	-webkit-backface-visibility: hidden;
	-moz-transition: all 0.3s;
	-moz-backface-visibility: hidden;
	transition: all 0.3s;
	backface-visibility: hidden;
}

.btn-5:before {
	position: absolute;
	height: 100%;
	width: 100%;
	line-height: 2.5;
	font-size: 180%;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	transition: all 0.3s;
}

.btn-5:active:before {
	color: #703b87;
}

Button 5a 
.btn-5a:hover span {
	-webkit-transform: translateY(300%);
	-moz-transform: translateY(300%);
	-ms-transform: translateY(300%);
	transform: translateY(300%);
}

.btn-5a:before {
	left: 0;
	top: -100%;
}

.btn-5a:hover:before {
	top: 0;
}


.grayscale img
{
	filter: grayscale(1);
	-webkit-filter: grayscale(1);
	-moz-filter: grayscale(1);
	-o-filter: grayscale(1);
	-ms-filter: grayscale(1);
}

.grayscale img:hover
{
	filter: grayscale(0);
	-webkit-filter: grayscale(0);
	-moz-filter: grayscale(0);
	-o-filter: grayscale(0);
	-ms-filter: grayscale(0);
}

.urlImg { 
	width: 185px;
	height:185px; 
	display:block; 
	background-repeat: no-repeat; 
	background-image: url('images/image1.png');
 } 
.urlImg:hover { background-image: url('images/imag1.png'); } 


.rotate
{
 	padding-left: 2px;
	margin-top: 19px;
	margin-left: 145px;
	margin-bottom: 20px;       
}
.rotate:hover
{
        -webkit-transform: rotateZ(-15deg);
        -ms-transform: rotateZ(-15deg);
        transform: rotateZ(-15deg);
}