.body{
	margin:auto 0;
}
#logo{
	width:28%;
	position: relative;
	display: inline-block;
	vertical-align: middle;
	letter-spacing: 0.06em;
	padding: 35px;
}
#menu{
	width:65%;
	position: relative;
	display: inline-block;
	vertical-align: middle;
	letter-spacing: 0.06em;
}
ul#menuitem li {
    list-style-type:none;
    font-size: 15px;
    font-weight: 700;
    line-height: 24px;
    padding: 10px;
    text-transform: uppercase;
    font-family: "Montserrat", sans-serif;
    position: relative;
	display: inline-block;
	vertical-align: middle;
	letter-spacing: 0.06em;
}
a.menu:link    {color:#212121; background-color:transparent; text-decoration:none}
a.menu:visited {color:#212121; background-color:transparent; text-decoration:none}
a.menu:hover   {color:#212121; background-color:transparent; text-decoration:none; border-bottom:2px solid #f9bd1c; }
a.menu:focus  {color:#212121; text-decoration:none;border-bottom:2px solid #f9bd1c;}

#div2{
	width: 93%;
}
#div3{
	width: 21%;
	position: relative;
	display: inline-block;
	vertical-align: middle;
	margin-top: 15px;
	margin-right: 15px;
	padding: 15px;
}
#div4{
	width:93%;
	position: relative;
	margin-top: 25px;
	margin-right: 15px;
	margin-left: 30px;
	padding: 15px;
	display: inline-block;
}
#h2{
	line-height: 1.18421;
	font-size: 38px;
	margin-top: 30px;
	margin-bottom: 17px;
	line-height: 1.5;
	font-family: "Montserrat",sans-serif;
	font-weight: 400;
	color: inherit;
	text-align: center;
}
#div5{
	width: 28%;
	position: relative;
	display: inline-block;
	vertical-align: middle;
	margin-top: 15px;
	margin-right: 15px;
	padding: 15px;
}
#h3{
	font-size: 18px;
	font-family: "Montserrat",sans-serif;
	font-weight: 350;
	color: #f9bd1c;
	text-align: left;
	padding-bottom: 1px;
}

#p1{
font-size: 18px;
font-family: "Montserrat",sans-serif;
font-weight: 200;
color: black;
padding: 1px;
}

#ul2 li{
font-size: 12px;
font-family: "Montserrat",sans-serif;
color: #9b9b9b;
padding: 38px;
position: relative;
font-weight: 200;
display: inline-block;
letter-spacing: 0.06em;
margin-left: -72px;
margin-top: -34px;
list-style: none;
}

#p2{
font-size: 12px;
font-family: "Montserrat",sans-serif;
font-weight: 200;
color: black;
padding: 1px;
margin-left: 5px;
margin-top: -34px;
}
}

#button{
color: #fff;
background-color: #ffa200;
border-color: #ffa200;
position: relative;
padding: 9px 16px;
font-size: 14px;
line-height: 28px;
border-radius: 3px;
white-space: nowrap;
text-transform: uppercase;
letter-spacing: 0.06em;
border-width: 2px;
transition: .3s;
backface-visibility: hidden;
}

#img {
    display: block;
    margin: auto;
    width: 50%;
    align-items: center;
    height: 45px;
    width: 149px;
}

.center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 28px;
}

#h1{
	line-height: 1.18421;
	font-size: 42px;
	margin-top: 30px;
	margin-bottom: 17px;
	line-height: 1.5;
	font-family: "Montserrat",sans-serif;
	font-weight: 500;
	color: #373636;
	text-align: center;
}

a.one:link    {background-color:transparent; text-decoration:none}
a.one:visited {background-color:transparent; text-decoration:none}
a.one:hover   {background-color:transparent; text-decoration:none}

a.two:link    {color:#f9bd1c; background-color:transparent; text-decoration:none}
a.two:visited {color:#f9bd1c; background-color:transparent; text-decoration:none}
a.two:hover   {color:#f9bd1c; background-color:transparent; text-decoration:none}
ul#menuitem2{
	margin:0;
}

ul#menuitem2 li {
    list-style-type:none;
    font-size: 10px;
    font-weight: 300;
    line-height: 24px;
    padding: 0px;
    text-transform: uppercase;
    font-family: "Montserrat", sans-serif;
    position: relative;
	display: inline-block;
	vertical-align: middle;
	letter-spacing: 0.06em;
	color:#282727;
	 text-align: center;
	 margin-left: 34px;

}

button{
	background-color: #ffa200;
}