@import url(http://fonts.googleapis.com/css?family=Raleway);
.body{
	margin:auto 0;
}

#header{
	width: 100%;
	margin-top: -115px;
}

#img-logo{

	margin: 45px;
	display: inline; 
	position: relative;
}

#socialmediaicon{
	width:36%;
	position: relative;
	display: inline-block;
	vertical-align: middle;
	letter-spacing: 0.06em;
	float: right;
	margin-right: -160px;
	margin-top: -122px;
}

.nav {
	position: relative;
  	margin-top: 200px; 	
  	border:none;
  	text-align: center;
  	font-family: Raleway;
  	
  	/*box-shadow: 1px 1px 7px rgba(0, 0, 0, 0.5);*/
}

#nav-1 {
  background: none;
  border:none;
}

.link-1 {
  transition: 0.3s ease;
  background: transparent;
  color: #ffffff;
  font-size: 20px;
  text-decoration: none;
  border:2px solid #fff;
  padding: 20px;

}
.link-1:hover {
  border-top: 3px solid #ffffff;
  border-bottom: 2px solid #ffffff;
  padding: 6px 0;
  color: #c33f38; 
  border-right: none;
  border-left:none;
  padding: 20px;
}

section {
	position: relative;
	width: 100%;
	margin-top: 120px;
	
}
section::after {
	position: absolute;
	bottom: 0;
	content: '';
	width: 100%;
	height: 100%;
	}

#section10 a {
	padding-top: 0px;
}
#section10 a span {
	position: absolute;
	top: 0;
	left: 50%;
	width: 30px;
	height: 50px;
	margin-left: -15px;
	border: 2px solid #fff;
	border-radius: 50px;
	box-sizing: border-box;
}
#section10 a span::before {
	position: absolute;
	top: 10px;
	left: 50%;
	content: '';
	width: 6px;
	height: 6px;
	margin-left: -3px;
	background-color: #fff;
	border-radius: 100%;
	-webkit-animation: sdb04 2s infinite;
	animation: sdb04 2s infinite;
	box-sizing: border-box;
}
@-webkit-keyframes sdb04 {
	0% {
		-webkit-transform: translate(0, 0);
		opacity: 0;
	}
	40% {
		opacity: 1;
	}
	80% {
		-webkit-transform: translate(0, 20px);
		opacity: 0;
	}
	100% {
		opacity: 0;
	}
}
@keyframes sdb04 {
	0% {
		transform: translate(0, 0);
		opacity: 0;
	}
	40% {
		opacity: 1;
	}
	80% {
		transform: translate(0, 20px);
		opacity: 0;
	}
	100% {
		opacity: 0;
	}
}
 .animated {
            background-image: url(images/logo.png); 
            background-repeat: no-repeat;
            background-position: left top; 
            /*padding-top:95px;*/
            /*margin-bottom:60px;*/
            -webkit-animation-duration: 10s; 
            animation-duration: 10s; 
            -webkit-animation-fill-mode: both; 
            animation-fill-mode: both;
         }
         
         @-webkit-keyframes shake {
            0%, 100% {-webkit-transform: translateX(0);} 
            10%, 30%, 50%, 70%, 90% {-webkit-transform: translateX(-10px);} 
            20%, 40%, 60%, 80% {-webkit-transform: translateX(10px);} 
         }
         
         @keyframes shake { 
            0%, 100% {transform: translateX(0);} 
            10%, 30%, 50%, 70%, 90% {transform: translateX(-10px);} 
            20%, 40%, 60%, 80% {transform: translateX(10px);} 
         }
         
         .shake { 
            -webkit-animation-name: shake; 
            animation-name: shake; 
         }

         #welcomediv{
         	width:100%;
         	min-height: 100%;
         	background-color: white;
         	margin-top: 200px;
         	
         }

          #about{
         	width:102%;
         	/*background-color: white;*/
         	margin-top: 700px;
         	margin-left: 12px;
         	height: -50px;
         	background: transparent;

         }

         #intro{
         	width: 58%;
         	background-color:#ececec;
         	border: 1px solid #01b6f3;
         	float: left;
         	margin-top:-300px;
         	
         	
         }

         #advantage{
         	width: 60%;
         	background-color:#ececec;
         	border: 1px solid #01b6f3;
         	float: right;
         	margin-top: 50px;
         	margin-bottom: 
         }

         #li-1{
         	
         	
         }


         #h1{
         	color:black;
         	font-size: 75px;
         	font-weight: 100;
         	text-align: center;
         	margin-left: -96px;
         	background: transparent;
         }

         #h2{
         	color:#00b6f3;
         	font-size: 30px;
         	font-weight: 100;
         	text-align: center;
         	margin-left: -70px;
         	margin-top: -35px;
         }

         #h3{
         	font-size: 18px; 
         	color: #f44336; 
         	text-transform: uppercase; 
         	text-align: left;          	
         	margin-left: 27px; 
         	
         }


         #p1{
         	font-size: 20px;
         	color: #b0b0b0;
         	text-align: center;
         	width:85%;
         	margin-left: 67px;
         	padding: 2px;
         	column-width: 35%;
         }

         #p2{
         	font-size: 18px;
         	color: #b0b0b0;
         	text-align: left-justify;
         	width:65%;
         	font-family: 'Lato';
         	margin-left: 240px; 
         }

         
         .grid {
			position: relative;
			clear: both;
			margin: 0 auto;
			padding: 1em 0 4em;
			max-width: 1000px;
			list-style: none;
			text-align: center;
		 }

		/*image hover effect*/

/*.code {
  /*width: 40%;*/
  clear: both;
  
  background: #FFF;
  border-radius: 2px;
  margin: 40vh 0;
  padding: 10px; }
  .code pre, .code code {
   /* height: 100%;*/
    margin: 0; }
  .code code {
    /*padding: 20px 0 0 20px;*/ }
  .code--small code {
    /*padding-top: 75px; */}
  .code--left {
    float: left; }
  .code--right {
    float: right;
    margin-right: 40px;
    /*margin-top: 40vh;*/ }
  .code--wider {
    width: 60%; }
    .code--wider code {
      padding-top: 60px; }*/




		ul li {
		    display:inline-block;
		    margin:0 10px
		}
		.demo-3 {
		    position:relative;
		    width:200px;
		    height:200px;
		    overflow:hidden;
		    float:left;
		    margin-right:1px;
		    margin-left: 90px;
		}
		.demo-3 figure {
		    margin:0;
		    padding:0;
		    position:relative;
		    cursor:pointer;
		    margin-left:-50px
		}
		.demo-3 figure img {
		    display:block;
		    position:relative;
		    z-index:10;
		    margin:-15px 0
		}
		.demo-3 figure figcaption {
		    display:block;
		    position:absolute;
		    z-index:5;
		    -webkit-box-sizing:border-box;
		    -moz-box-sizing:border-box;
		    box-sizing:border-box;
		     border:2px solid black;
		}
		.demo-3 figure h2 {
		    font-family:'Lato';
		    color:#fff;
		    font-size:20px;
		    text-align:left
		}
		.demo-3 figure p {
		    display:block;
		    font-family:'Lato';
		    font-size:14px;
		    line-height:18px;
		    margin:0;
		    color:#6c6a68;
		    text-align:left
		}
		.demo-3 figure figcaption {
		    top:0;
		    left:0;
		    width:89%;
		    height:94%;
		    padding:29px 44px;
		    background-color:#fff;
		    text-align:center;
		    backface-visibility:hidden;
		    -webkit-transform:rotateY(-180deg);
		    -moz-transform:rotateY(-180deg);
		    transform:rotateY(-180deg);
		    -webkit-transition:all .5s;
		    -moz-transition:all .5s;
		    transition:all .5s
		    border:1px border-box black;
		    margin-top: 20px;
		    margin-left: 22px;

		}






		.demo-3 figure img {
		    backface-visibility:hidden;
		    -webkit-transition:all .5s;
		    -moz-transition:all .5s;
		    transition:all .5s
		}
		.demo-3 figure:hover img,figure.hover img {
		    -webkit-transform:rotateY(180deg);
		    -moz-transform:rotateY(180deg);
		    transform:rotateY(180deg)
		    border:1px border-box black;
		}
		.demo-3 figure:hover figcaption,figure.hover figcaption {
		    -webkit-transform:rotateY(0);
		    -moz-transform:rotateY(0);
		    transform:rotateY(0)
		    border:1px border-box black;
		}
		#p4{
		margin-bottom: 50px;
}

		#backimg{
			background-image: url('../img/banner.jpg');
			background-repeat: no-repeat;
		    background-attachment: fixed;
		    width: 100%;
		    margin-top: 600px;
		    height: 500px;
			
		}
.ch-grid {
	margin: -30px 0 0 0;
	padding: 0;
	list-style: none;
	display: block;
	text-align: center;
	width: 100%;
}

.ch-grid:after,
.ch-item:before {
	content: '';
    display: table;
    
}

.ch-grid:after {
	clear: both;

}

.ch-grid li {
	width: 120px;
	height: 120px;
	display: inline-block;
	margin: 20px;

}


			.ch-item {
			width: 100%;
			height: 100%;
			border-radius: 50%;
			position: relative;
			cursor: default;
			box-shadow: 
				inset 0 0 0 16px rgba(255,255,255,0.6),
				0 1px 2px rgba(0,0,0,0.1);
				
			-webkit-transition: all 0.4s ease-in-out;
			-moz-transition: all 0.4s ease-in-out;
			-o-transition: all 0.4s ease-in-out;
			-ms-transition: all 0.4s ease-in-out;
			transition: all 0.4s ease-in-out;
	}

	.ch-img-1 { 
		background: transparent;
		border: 8px solid #f44336;
	}

	.ch-img-2 { 
		
		background: transparent;
		border: 8px solid #f44336;
	}

	.ch-img-3 { 
		background: transparent;
		border: 8px solid #f44336;
	}

	.ch-info {
		position: absolute;
		background: #00b6f3;
		width: inherit;
		height: inherit;
		border-radius: 50%;
		opacity: 0;
		
		-webkit-transition: all 0.4s ease-in-out;
		-moz-transition: all 0.4s ease-in-out;
		-o-transition: all 0.4s ease-in-out;
		-ms-transition: all 0.4s ease-in-out;
		transition: all 0.4s ease-in-out;
		
		-webkit-transform: scale(0);
		-moz-transform: scale(0);
		-o-transform: scale(0);
		-ms-transform: scale(0);
		transform: scale(0);
		
		-webkit-backface-visibility: hidden;

	}


	.ch-item:hover {
	box-shadow: 
		inset 0 0 0 1px rgba(255,255,255,0.1),
		0 1px 2px rgba(0,0,0,0.1);
		border: 8px solid #fff;
}
.ch-item:hover .ch-info {
	-webkit-transform: scale(1);
	-moz-transform: scale(1);
	-o-transform: scale(1);
	-ms-transform: scale(1);
	transform: scale(1);
	opacity: 1;

}

.ch-item:hover .ch-info p {
	opacity: 1;
}

#img2{
	margin-left: 409px;
	margin-top: 33px;
	position: absolute;
	display: inline;
}

#number{
	color: #01b6f3;
	font-size: 1.5em;
	font-family: 'Open Sans', sans-serif;
	font-weight: 300;

}
#p5{
	font-size: 1em;
	color: #999;
	line-height: 1.8em;
	font-weight: 400;
}

 #team{
    width:102%;
    margin-top: 700px;
   	margin-left: 12px;
   	margin-top: 20px;
   	height: 600px;
    background: transparent;

}

#imgtag{
	padding-left: 2px;
	margin-right: 198px;

}


.urlImg1 {
	 margin-left: -34px; 
	 display:block;
	 background-repeat: no-repeat;  
	 background-image: url(../img/pro1.jpg); 
}
.urlImg1:hover { 
	background-image: url(../img/pro1-new.png); 
} 

.urlImg2 { 
	display:block; 
	background-repeat: no-repeat;
	background-image: url(../img/profile.jpg);
	margin-left: 412px;
	margin-top: -215px;
	margin-bottom: 255px;
	height: 215px;

}
.urlImg2:hover { 
	background-image: url(../img/profile-new.png); 
} 

.urlImg3 { 
	margin-left: 743px; 
	display:block; 
	height: 215px;
	margin-top: -470px;
	background-image: url(../img/pro2.jpg); 
	background-repeat: no-repeat;
}
.urlImg3:hover { 
	background-image: url(../img/pro2-new.png);
}

.urlImg4 { 
	margin-left: 1040px;
	display: block;
	background-image: url(../img/pro3.jpg);
	height: 215px;
	margin-top: -215px;
	background-repeat: no-repeat; }
.urlImg4:hover { 
	background-image: url(../img/pro3-new.png); 
} 


	
#p6{
	display: inline-block;
	margin-left: 58px;
	width: 17%;
	font-size: 1em;
	color: #999;
	line-height: 1.8em;
	font-weight: 400;
	text-align: justify;
}

ul.tab {
    list-style-type: none;
    margin-left: 420px;
    padding: 0;
    overflow: hidden;
    border: 1px solid #ccc;
    background-color: #fff;
    width: 45%;
    margin-top: 20px;
   
	margin-bottom: 65px;
}

/* Float the list items side by side */
ul.tab li {float: left;}

/* Style the links inside the list items */
ul.tab li a {
    display: inline-block;
    color: #555;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    transition: 0.3s;
    font-size: 1em;
    margin-left: 14px;
}

/* Change background color of links on hover */
ul.tab li a:hover {
    color: #4acbf6;
}

/* Create an active/current tablink class */
ul.tab li a:focus, .active {
    color: #4acbf6;
    text-decoration: underline #4acbf6;
    text-decoration-style: solid 5px;
}

/* Style the tab content */
.tabcontent {
    display: none;
    padding: 6px 12px;
    -webkit-animation: fadeEffect 1s;
    animation: fadeEffect 1s;
}

@-webkit-keyframes fadeEffect {
    from {opacity: 0;}
    to {opacity: 1;}
}

@keyframes fadeEffect {
    from {opacity: 0;}
    to {opacity: 1;}
}




/*Slider implementation*/
* {box-sizing:border-box}
body {font-family: Verdana,sans-serif;}
.mySlides {display:none}


/* Slideshow container */
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

/* Caption text */
.text {
  padding: 8px 12px;
  position: absolute;
  bottom: 28px;
  color: #fff;
  text-align: center;
  text-shadow: 0 1px 2px rgba(0, 0, 0, .6);
  
}

/* Number text (1/3 etc) */
/*.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}*/

/* The dots/bullets/indicators */
.dot {
  height: 13px;
  width: 13px;
  margin: 0 2px;
  background-color: transparent;
  border: 2px solid #fff;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active {
  background-color: #bbb;
  border: none;
  
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
  .text {font-size: 11px}
}


#p-contact{
font-size: 1em;
color: #999;
line-height: 1.8em;
font-weight: 400;
margin-left: 173px;
margin-top: -51px;
}

.form-style-8 input[type="button"],
.form-style-8 input[type="submit"]{
    -moz-box-shadow: inset 0px 1px 0px 0px #FFFFFF;
    -webkit-box-shadow: inset 0px 1px 0px 0px #FFFFFF;
    box-shadow: inset 0px 1px 0px 0px #FFFFFF;
    background-color: #45c9fa;
    border: 1px solid #FFFFFF;
    display: inline-block;
    cursor: pointer;
    color: #FFFFFF;
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 14px;
    padding: 8px 18px;
    text-decoration: none;
    text-transform: uppercase;
    margin-left: 0px;
    margin-top: 20px;
    width: 180px;

}
.form-style-8 input[type="button"]:hover,
.form-style-8 input[type="submit"]:hover {
    background:linear-gradient(to bottom, #f44336 5%, #f44336 100%);
   
}

.form-style-9 input[type="button"],
.form-style-9 input[type="submit"]{
    -moz-box-shadow: inset 0px 1px 0px 0px #FFFFFF;
    -webkit-box-shadow: inset 0px 1px 0px 0px #FFFFFF;
    box-shadow: inset 0px 1px 0px 0px #FFFFFF;
    background-color: #45c9fa;
    border: 1px solid #FFFFFF;
    display: inline-block;
    cursor: pointer;
    color: #FFFFFF;
    font-family: 'Open Sans', sans-serif;
    font-size: 1.1em;
    padding: 8px 18px;
    text-decoration: none;
    margin-left: 0px;
    margin-top: 20px;
    width: 300px;

}
.form-style-9 input[type="button"]:hover,
.form-style-9 input[type="submit"]:hover {
    background:linear-gradient(to bottom, #fff 5%, #fff 100%);
    color: #f44336;
    border: 2px solid #f44336;
   
}


#scroll {
position:fixed;
right:10px;
bottom:10px;
cursor:pointer;
width:50px;
height:50px;
/*background-color:#3498db;*/
background-image: url(../img/scroll-up.png);
text-indent: -9999px;
display:inline;
background-repeat: no-repeat;
/*-webkit-border-radius:60px;
-moz-border-radius:60px;
border-radius:60px*/
}
#scroll span {
position:absolute;
top:50%;
left:50%;
margin-left:-8px;
margin-top:-12px;
height:0;
width:0;
/*border:8px solid transparent;
border-bottom-color:#ffffff*/
}
#scroll:hover {

opacity:1;filter:"alpha(opacity=100)";
-ms-filter:"alpha(opacity=100)";}